

#royal_preloader.text .loader,
.big-text,
.cl-effect-5 a span::before,
.list-social li.icon-soc a,
.icon-left1,
.text-over-video, 
.team-social li:hover.icon-team a,
.portfolio-box .fancybox-button,
#filter li .current ,
.portfolio-box h4,
.plans-offer-gold h3,  
.plans-offer-gold h3 span, 
.plans-offer-gold h6,
.plans-offer-gold a,
.plans-offer a,
#link-work a,
.facts-wrap-num,
#button-con button,
.button-map:hover,
.blog-post p span,
.icon-contact1, 
.icon-footer,
.icon-test,
#footer .back-top{
	color:#8C001A;
}
ul.slimmenu li a:hover {
    border-bottom:1px solid #8C001A;
}
ul.slimmenu li ul li a:hover {
    border-bottom:1px solid #8C001A;
}
.team-line{
	background: #8C001A;
} 
.slideshow > nav span.current {
	background-color: #8C001A;
}
.flat-filled .icon > path {
    fill: #8C001A;
}
.flat-filled .icon > .lightning {
    fill: #8C001A;
}


























